@charset "UTF-8";



body{
    background-image: linear-gradient(to left, #B0D1D9, #639CBF);
}

main {
    background-color: #ffffff5e;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #639cbfab;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0792bd;
    text-align: center;
    text-shadow: 1px 1px 2px #04516993;
}
h2{
    text-align: center;
    color: #0d405f;
}
p{
    text-align: center;
    text-align: justify;
   
}
a{
    color: navy;
}